<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kiaora.rezorlibrary">

    <!-- Add the RECEIVE_SMS permission to enable OTP reading -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />


    <application>

        <activity android:name=".RazorActivity" />
        <!-- Add your API key here -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_ILgsfZCZoFIKMb" />

    </application>
</manifest>

